:root {
    --lightColor: rgb(220, 220, 255);
    --darkColor: rgb(50, 50, 255);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(45deg, rgb(150, 150, 255), rgb(100, 100, 255));
}

.calcMenu {
    background-color: rgb(200, 200, 255);
    width: 80%;
    height: 90vh;
    position: absolute;
    top: 2vh;
    left: 10%;
    border-radius: 4vmin;
    text-align: center;
}

.calcMenu select {
    border-width: 1vmin;
    border-radius: 2vmin;

    transition-property: scale;
    transition-duration: 0.3;
    transition-timing-function: linear;
}

.calcMenu select:focus {
    border-color: var(--darkColor);
}

.calcMenu input {
    border-style:solid;
    border-width: 1vmin;
    border-radius: 2vmin;
    width: 12vw;

    transition-property: scale;
    transition-duration: 0.3;
    transition-timing-function: linear;
}

.calcMenu input:focus {
    border-color: var(--darkColor);
}

#titleText {
    display: inline-block;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vmin;
    position: relative;
    padding: 1vmin;
    border-radius: 2vmin;

    background-color: var(--lightColor);

    transition-property: transform;
    transition-duration: 0.3s;
}

#titleText:hover {
    transform: translateY(-5px);
}

.selectMenu {
    margin-bottom: 2vh;
}

.labelText {
    display: inline-block;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    font-size: 5vmin;
}

.calcButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vmin;
    width: 40vmin;
    height: 10vmin;
    border-radius: 2vmin;
    margin-bottom: 3vmin;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.calcButton:focus {
    background-color: var(--darkColor);
    color: white;
}

#calcDisplay {
    width: 100%;
    height: 10vh;
    background-color: var(--lightColor);
}

#calcDisplay div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultText {
    display: inline-block;
    font-size: 6vmin;
    color: white;
    background-color: var(--darkColor);
    border-radius: 2vmin;
}